<!-- /.col-lg-8 -->
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Send Command
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <form>
                <select id="boards">
                {{#each boards}}
                    <option value="{{ this.id }}" data-addon="{{ this.addon }}">{{ this.name }}</option>
                {{/each}}
                </select>
                <input type="checkbox" id="boardCommand" />
            </form>
        </div>
        <!-- /.panel-body -->
    </div>
</div>
<!-- /.col-lg-4 -->
</div>
<!-- /.row -->


<script type="text/javascript">
    $(document).ready(function () {
        var settings = {{{ settings }}};

        settings.boardCommand = $('#boardCommand');
        settings.boardSelect = $('#boards');
        $.jill.init(settings);
    });
</script>
